@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.my-masonry-grid {
  display: flex;
  gap: 1rem;
}
.my-masonry-grid_column > div {
  margin-bottom: 0.8rem;
}

.leaflet-control-scale.custom-scale {
  bottom: 80px !important; /* move it 80px above the bottom */
  left: 10px !important;   /* optional: adjust left offset */
}
